div{
    width:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2{
    font-size:45px;
}
img{
    width: 200px;
    cursor: pointer;
    border:2px solid lightblue;
    border-radius: 10px;
    margin:50px;
}
input{
    width: 500px;
    height: 35px;
    margin: 35px;
    color:rgb(152, 152, 152);
    outline: none;
    border-radius: 50px;
    border:none;
    text-align: center;


}
.err{
    margin-left: 10px;
    font-size:12px;
    font-style: italic;
    color:red;
}
